html {
  height: 100%;
}

body {
  background-color: #EAEAF4;
  font-family: 'Open Sans', sans-serif;
}
nav {
  background-color: #1F1F3E;
}
.filter-starred-ideas {
  color: #BFBFDD;
}
h3 {
  color: #1F1F3E;
}
p {
  color: #1F1F3E;
}
