html {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  background-color: #EAEAF4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

 /* ######### Nav ######### */
nav {
  background-color: #1F1F3E;
  height: 100vh;
  width: 20%;
}

h1 {
  color: #EAEAF4;
  padding-left: 10%;
}

.filter {
  height: 15%;
  padding-bottom: 10%;
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter-starred-ideas {
  color: #BFBFDD;
  padding-left: 10%;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
  border: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-size: 20px;
}

 /* ######### Save Ideas Form ######### */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.save-idea-form {
  height: 40%;
  background-color: #A9AAD2;
  color: #1F1F3E;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-around;
}

.title-box , .body-box {
  display: flex;
  flex-direction: column;
}

label {
  align-self: flex-start;
}

.title-input {
  height: 50px;
  border: 1px solid #353567;
  border-radius: 1px;
}

.body-input {
  height: 100px;
  border: 1px solid #353567;
  border-radius: 1px;
}

.save-button {
  height: 50px;
  background-color: #353567;
  border: 1px solid #5356A4;
  border-radius: 1px;
  color: #EAEAF4;
  font-weight: bold;
  font-size: 20px;
}

.search {
  height: 25px;
}

.search-container {
  height: 50px;
  display: flex;
  padding-bottom: 1%;
}

.search-button {
  background-color: #353567;
  border: none;
  width: 50px;
}

.search-field {
  height: 100%;
  width: 100%;
  border: 1px solid #353567;
}

::placeholder {
  padding-left: 5px;
  color: #5356A4;
  opacity: 50%;
  font-weight: lighter;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

 /* ######### Idea Cards ######### */
.idea-card-section {
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

article {
  margin: 10px;
  border: solid 2px #1F1F3E;
  width: 230px;
  display: flex;
  flex-direction: column;
}

.card-top {
  border-bottom: solid 2px #1F1F3E;
  background-color: #1F1F3E;
  display: grid;
}

.red-star, .white-star {
  height: 30px;
  grid-column: 1;
  grid-row: 1;
}

.red-delete, .white-delete {
  grid-column: 2;
  grid-row: 1;
  height: 30px;
  justify-self: end;
}

.card-body {
  background-color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  color: #1F1F3E;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}

.card-body p {
  color: #1F1F3E;
  margin-top: 0;
  overflow-wrap: break-word;
}

.card-bottom {
  border-top: solid 2px #5356A4;
  height: 30px;
  background-color: #5356A4;
  display: flex;
  align-items: center;
}

.card-bottom p {
  color: #E9E9F3;
  font-weight: bold;
  font-size: 16px;
}
.comment {
  height: 30px;
}

 /* ######### DOM Manipulation Properties ######### */
.hover-properties-inactive {
  background-color: #5356A4;
  cursor: default;
}

.hover-properties-active {
  background-color: #353567;
  cursor: pointer;
}

.hidden {
  display: none !important;
}
