html {
  height: 100%;
}

body {
  background-color: #EAEAF4;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav {
  background-color: #1F1F3E;
  height: 100vh;
  width: 15%;
}

h1 {
  color: #EAEAF4;
  padding-left: 10%;
}

.filter {
  height: 20%;
  border-top: 1px solid #353567;
  border-bottom: 1px solid #353567;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.filter-starred-ideas {
  color: #BFBFDD;
  padding-left: 10%;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
  border: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  font-size: 20px;
}

.save-idea-form {
  background-color: #A9AAD2;
  color: #1F1F3E;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-input {
  border: 1px solid #353567;
  border-radius: 1px;
  width: 245px;
}

.body-input {
  border: 1px solid #353567;
  border-radius: 1px;
  width: 245px;
}

.save-button {
  background-color: #353567;
  border: 1px solid #5356A4;
  border-radius: 1px;
  color: #EAEAF4;
  font-weight: bold;
  width: 250px;
}

.search {
  height: 10px;
}

.search-container {
  display: flex;
  padding-bottom: 1%;
  width: 250px;
}

.search-button {
  background-color: #353567;
  border: none;

}

.search-field {
  height: 100%;
  width: 100%;
  border: 1px solid #353567;
}

::placeholder {
  color: #5356A4;
  opacity: 50%;
  font-weight: lighter;
}

h3 {
  color: #1F1F3E;
}

p {
  color: #1F1F3E;
}
